$header-bg: #282b2d;
$header-highlighted-bg: #151619;
$highlighted-bg: #e1f4f8;
$active-bg: #49c2d3;
$active-shadow: #108292;
$em-color: #6ba2a9;
$border-color: #e5e5e5;
$header-height: 50px;

$menu-color: #333536;